@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Nunito";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Nunito";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.5;
}

.popup__body {
  position: relative;
  z-index: 5;
  background: #fffbe3;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.popup__content {
  position: relative;
  padding: 18px 20px 22px 20px;
}

.popup__title {
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.open {
  visibility: visible;
  opacity: 1;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 28px;
  font-weight: 600;
  color: #000000;
  background-color: transparent;
}

.popup-form__titleField {
  font-size: 16px;
  line-height: 22px;
  margin: 14px 0px 0px 0px;
  padding: 8px 0px 8px 15px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #5f81b2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.popup-form__titleField::-webkit-input-placeholder {
  color: #000;
}

.popup-form__titleField:-ms-input-placeholder {
  color: #000;
}

.popup-form__titleField::-ms-input-placeholder {
  color: #000;
}

.popup-form__titleField::placeholder {
  color: #000;
}

.popup-form__descField {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  padding: 8px 0px 46px 15px;
  margin: 17px 0px 0px 0px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #5f81b2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.popup-form__saveBtn {
  background: #5f81b3;
  border-radius: 4px;
  text-align: center;
  margin: 19px 0px 0px 0px;
}

.popup-form__closeModalBtn {
  background: #aeaeae;
  border-radius: 4px;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.saveBtn {
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 9px 0px 9px 0px;
  min-width: 460px;
}

.closeModalBtn {
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 9px 0px 9px 0px;
  min-width: 460px;
}

.popupDeleteTask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popupDeleteTask__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.5;
}

.popupDeleteTask__body {
  position: relative;
  z-index: 5;
  background: #fffbe3;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.popupDeleteTask__content {
  position: relative;
  padding: 18px 13px 15px 13px;
}

.popupDeleteTask__title {
  text-align: center;
}

.popupDeleteTask__buttons {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popupDeleteTask__btn {
  margin: 0px 5px 0px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 5px 0px 5px 0px;
  background: #5f81b3;
  border-radius: 4px;
}

.popupDeleteTask__close {
  margin: 0px 5px 0px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 5px 0px 5px 0px;
  border-radius: 4px;
  background: #5f81b3;
}

.openDeleteModal {
  visibility: visible;
  opacity: 1;
}

.popupChangeTask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popupChangeTask__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.5;
}

.popupChangeTask__body {
  position: relative;
  z-index: 5;
  background: #fffbe3;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.popupChangeTask__content {
  position: relative;
  padding: 18px 20px 22px 20px;
}

.popupChangeTask__title {
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.open {
  visibility: visible;
  opacity: 1;
}

.close-popupChangeTask {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 28px;
  font-weight: 600;
  color: #000000;
  background-color: transparent;
}

.popupChangeTask-form__titleField {
  font-size: 16px;
  line-height: 22px;
  margin: 14px 0px 0px 0px;
  padding: 8px 0px 8px 15px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #5f81b2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.popupChangeTask-form__titleField::-webkit-input-placeholder {
  color: #000;
}

.popupChangeTask-form__titleField:-ms-input-placeholder {
  color: #000;
}

.popupChangeTask-form__titleField::-ms-input-placeholder {
  color: #000;
}

.popupChangeTask-form__titleField::placeholder {
  color: #000;
}

.popupChangeTask-form__descField {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  padding: 8px 0px 46px 15px;
  margin: 17px 0px 0px 0px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #5f81b2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.popupChangeTask-form__saveBtn {
  background: #5f81b3;
  border-radius: 4px;
  text-align: center;
  margin: 19px 0px 0px 0px;
}

.popupChangeTask-form__closeModalBtn {
  background: #aeaeae;
  border-radius: 4px;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.saveChangeBtn {
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 9px 0px 9px 0px;
  min-width: 460px;
}

.closeChangeModalBtn {
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 9px 0px 9px 0px;
  min-width: 460px;
}

.openChangeModal {
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

@media (max-width: 1032px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 25px;
  }
}

body {
  background-color: #5f81b2;
}

.todolist__header {
  margin: 54px 0px 0px 0px;
}

.todolist__logo {
  font-weight: 900;
  font-size: 60px;
  line-height: 82px;
  text-transform: uppercase;
  color: #ffffff;
}

.todolist__btn {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background: #f5d57f;
  border-radius: 4px;
  height: 40px;
  padding: 0px 56px 0px 56px;
}

.todolist__body {
  margin: 86px 0px 0px 0px;
}

.todolist__title {
  font-weight: 900;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 767.98px) {
  .todolist__title {
    text-align: center;
  }
}

.header-todolist__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .header-todolist__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 80px 10px 80px;
  }
}

.header-todolist__bottom {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .header-todolist__bottom {
    text-align: center;
  }
}

.header-todolist__row {
  margin: 26px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767.98px) {
  .header-todolist__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.row__task {
  margin: 10px 9.5px 10px 9.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.row__task:nth-child(odd) {
  margin: 10px 9.5px 10px 0px;
}

.row__task:nth-child(even) {
  margin: 10px 0px 10px 9.5px;
}

@media (max-width: 1020px) {
  .row__task:nth-child(odd) {
    margin: 7px 7px 7px 0px;
  }
  .row__task:nth-child(even) {
    margin: 7px 0px 7px 7px;
  }
}

@media (max-width: 767.98px) {
  .row__task {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .row__task:nth-child(odd) {
    margin: 7px 0px 7px 0px;
  }
  .row__task:nth-child(even) {
    margin: 7px 0px 7px 0px;
  }
}

.task {
  position: relative;
  background: #fff;
  border-radius: 4px;
  max-width: 490px;
}

.task__title {
  padding: 16px 50px 0px 21px;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  word-break: break-all;
}

.task__text {
  padding: 7px 53px 51px 20px;
  font-size: 16px;
  line-height: 22px;
  word-break: break-all;
}

.task__checkMark {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 18px;
  top: 15px;
  border: 1px solid #5f81b2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.task__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 21px 16px 23px;
}

.task__change {
  color: #2a5b94;
  font-size: 14px;
  line-height: 19px;
  background-color: transparent;
}

.task__change:hover {
  text-decoration: underline;
}

.task__trash {
  font-size: 15px;
  background-color: transparent;
}

.fa-pen {
  padding: 0px 8px 0px 0px;
}

.check {
  text-decoration: line-through;
}
